/* Grundlegende Header-Styles */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #fff; // Hintergrundfarbe des Headers
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); // Schatten für den Header
    // position: fixed; // Fixiere den Header an der Oberseite
    top: 0;
    z-index: 2000; // Stelle sicher, dass der Header über dem Menü liegt
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    // max-width: 1200px; // Maximale Breite des Containers, falls erforderlich
}

.header-logo {
    height: 80px;
}

.link-container {
    display: flex;
    a {
        text-decoration: none;
        font-size: 20px;
        margin: 0 15px;
        color: #333;
    }
}

.contact-call {
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
    }
    .contact-number {
        color: #7D3131;
        font-size: 24px;
        font-weight: 700;
    }
}

.menu-icon {
    display: none; // Versteckt das Menü-Icon standardmäßig
    cursor: pointer; // Zeigt einen Zeiger-Cursor, um die Klickbarkeit anzuzeigen
    z-index: 2001; // Stelle sicher, dass das Icon über dem Menü liegt
}

/* Styles für das mobile Menü, das von rechts kommt */
.link-container-mobile {
    display: none;
    position: fixed;
    top: 100px;
    right: 0; // Positioniere das Menü am rechten Bildschirmrand
    height: 100vh; // Volle Bildschirmhöhe
    width: 100vw; // Breite des Menüs
    background-color: #333; // Dunkler Hintergrund
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out; // Animation für das Ein- und Ausfahren
    z-index: 1000; // Stelle sicher, dass das Menü über anderen Elementen liegt
    transform: translateX(100%); // Starte außerhalb des Bildschirms (rechts)
}

@media (max-width: 1024px) {
    .menu-icon {
        display: block; // Zeige das Menü-Icon auf kleineren Bildschirmen
    }

    .link-container {
        display: none; // Verstecke die Desktop-Links
    }

    .link-container-mobile {
        display: flex; // Stelle das mobile Menü dar
        flex-direction: column; // Stapelt die Links vertikal
        align-items: center;
        padding-top: 60px; // Fügt oben einen Innenabstand hinzu, um unter dem Header zu starten

        a{
            font-size: 32px;
            text-decoration: none;
            color: #fff;
            margin-bottom: 35px;
            font-weight: 700;
            border: 2px solid white;
            padding: 30px;
            width: 275px;
            border-radius: 25px;
            &:hover {
                color: #7D3131;
                border-color: #7D3131;
            }
        }
    }

    .menu-open {
        transform: translateX(0); // Bewegt das Menü von rechts ins Bild
    }
}