<footer class="site-footer">
    <div class="footer-content">
      <div class="footer-brand">
        <img src="../../assets/img/logo.png" alt="Vrebo Logo" class="footer-logo">        
      </div>
      <div class="footer-slogan">
        <p class="footer-description">Professional renovation company that offers sustainable solutions.</p>
      </div>
      <div class="footer-social">
        <a href="your-facebook-url" class="social-link">Facebook</a>
        <a href="your-instagram-url" class="social-link">Instagram</a>
        <a href="your-twitter-url" class="social-link">Twitter</a>
      </div>
    </div>
  </footer>