<div class="stats-container">
  <img class="subtract-img" src="../../assets/img/Subtract.png" alt="" />
  <div class="stats-box">
    <div class="box">
      <h2>200</h2>
      <span>Zufriedene Kunden</span>
    </div>
    <div class="box">
      <h2>200</h2>
      <span>Produktvielfalt</span>
    </div>
    <div class="box">
      <h2>10</h2>
      <span>Jahre Erfahrung</span>
    </div>
  </div>

  <div class="quote-container">
    <div class="quote-text">
      <h3>Erhalten Sie ein kostenloses Angebot</h3>
      <span>
        Sie suchen ein professionelles Bauunternehmen? Bei uns bekommen Sie
        zuverlässige Handwerker. Kontaktieren Sie uns noch heute für ein
        kostenloses Angebot.
      </span>
    </div>
    <div class="quote-btns">
        <button>Erhalte Angebot</button>
        <button>Über uns</button>
    </div>
  </div>
</div>
